.avatar__image {
  width: 40px;
  height: 40px !important;
}

.avatar-selected {
  border: 1px solid red;
}

.cards {
  padding: 30px;
}

.board-wrapper {
  background: white;
  height: 400px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}

.dropzone{
  border: 1px solid red;
  width: 90px;
  height: 90px;
}

