doctype
html
  head
    title Domino Js
  body
    header
      h1 My Site
    .container
      .main-content
        block content
      .sidebar
        block sidebar
      .content
        form(method='post',action='/users')
            label(for='email') Email:
            input(type='text',name='email',id='email')  
            input(type='submit',name='submit',value='Submit').submit-button
    footer
      p Running on node with Express, Jade and Stylus
