.avatar__image {
  width: 80px;
  height: 80px !important;
}

.avatar-selected {
  border: 1px solid red;
}

.cards {
  padding-top: 50px;
  clear: both;
}

.board-wrapper {
  background: white;
  border: 1px solid black;
  margin: 0 auto;
  overflow: scroll;
  width: 900px;
  display: table-cell;
}

.board-wrapper >  div:first-child{
  white-space: nowrap;
  text-align: center;
  position: relative;
  top: 30%;
}

.dropzone{
  width: 90px;
  height: 90px;
  background-color: rebeccapurple;
  display: inline-block;
}

.dropzone, .board-wrapper{
  float: left;
  vertical-align: middle;
  height: 300px;
} 

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
